body 
{
    font-family: Verdana, Times New Roman;
    font-size: 11px;
}

.header {
    height: 120px;
    margin: 5px;
}

#logo {
    height: 75px;
    width: 150px;
    background: #4D2C49;
    float: right;
    margin-right: 20px;
    margin-bottom: -15px;
    background-image: url('../images/LogoLessiusMechelen.jpg');
}


.line{
    height: 3px;
    background-color: #4FC6DC;
    color: #4FC6DC;
}

.clear{
    clear:both;
}

a {
    color: #4D2C49;
}

.step{
    margin-left: 10px;
    width: 300px;
    height: 100px;
    float:left;
}

.footer p{
    margin: 20px;
    text-align: center;
    color: #4D2C49;
}

.wrapper 
{
    margin: 20px;
}

.wrapper ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.wrapper p
{
    margin-top: 10px;
}

.title
{
    font-size: 16px;
    font-weight: bold;
}

.subtitle
{
    font-size: 14px;
    font-weight: bold;
}

.subsubtitle
{
    font-size: 11px;
    font-weight: bold;
}

.buttons
{
    float: right;
    width: 200px;
    padding-right: 20px;
}